node_modules/
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.sourcemaps
.vscode
.idea
*.log
*.env*
.dockerignore
Dockerfile
.docker
.next
dist
build
out
.yarn
.pnp.*
public/uploads/
*.tgz
.DS_Store
Thumbs.db