node_modules/
.next/
dist/
build/
public/
.nyc_output
coverage
.sourcemaps
*.min.js
*.min.css
!.*.js
vendor/
tmp/
temp/
*.config.js
*.config.ts
*.config.mjs
.nuxt
output/
out/
.next
storybook-static/
.env*